/* BACKGROUND FOR HOMEPAGE */
body.homepage
{  
  background: url('images/studentsbg.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

img.middle {
    vertical-align: text-middle;
}

/* CLASS */
.orange { color: orange; }

/* CLASS */
.black { color: black; }

/* CLASS */
.red { color: red; }

/* CLASS */
.yellow { color: yellow; }

/* CLASS */
.white {color: white;}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}


/* unvisited link */
a:link
{
   width: 200px;
   color: #ffc78b;
}

/* visited link */
a:visited
{
   width: 200px;
   color: #ffc78b;
}

/* mouse over link */
a:hover
{
   width: 200px;
   color: #ff9b31;
}

/* selected link */
a:active
{
   width: 200px;
   color: #ff9b31;
}

/* LIST FOR MENU TO BE IN CENTER */
ul
{
   list-style-type: none;
   text-align: center;
}

/* LIST ITEM FOR MENU ITEMS TO BE IN ONE LINE */
li
{
   display: inline;
}

form {
    margin-left:auto;
    margin-right:auto;
    width: 343px;
    height: 373px;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

textarea{
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px; 
    width: 276px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input {
    width: 210px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

/* Rodo pirsta kad paspaust */
input[type=submit] {
    cursor:pointer;
}

input.name {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px; 
	  padding-left:45px;
}

input.email {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
	  padding-left:45px;
}

::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
	  color: #fff; 
}


.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.btn
{
	position: relative;
	padding: 0px 40px;
   margin: 0px 10px 10px 0px;
   float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.btn:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}


.error
{
	color: #FF0000;
}

.correct
{
	color: #009900;
}
