/* BACKGROUND FOR HOMEPAGE */
body.homepage
{  
  background: url('images/studentsBg.png') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

/* RED COLOR */
.error
{
   color: #FF0000;
}

/* GREEN COLOR */
.correct
{
   color: #009900;
}


/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 0em auto; /* WAS margin: 10em auto; */
  padding: 0 1em;
  max-width: 580px; /* WAS 370px */
  box-shadow: -8px 8px 5px #8b8b8b;
}

h1 {
  text-align: center;
  padding: 25px 0;
  font-size: 35px;
  color: #1c1c1c;
  font-weight: 900;
  font-family: "Arial"
}

h2 {
  text-align: center;
  font-weight: 900;
  font-family: "Arial"
}

h3 {
  text-align: center;
  font-size: 35px;
  color: #1c1c1c;
  font-weight: 900;
  font-family: "Arial"
}

h4 {
  margin-top: 110px;
  font-size: 43px;
  text-align: center;
  font-weight: 900;
  font-family: "Arial"
}

form {
  padding: 0 1.9em;
}

.form-item {
  margin-bottom: 0.8em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  height: 40px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

/*register*/
.r_button-panel {
  margin: 1em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #61eb68;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

/*register just use login change color*/
.btn_shadow_animate_grey {
  background: #AAAAAA;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.btn_shadow_animate_green {
  background: #61eb68;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}
/*end*/

.button:hover {
  background: #3acc45;
}





.button-panel1 {
  margin: 2em 0 0;
  width: 20%;
}

/*register*/
.r_button-panel1 {
  margin: 1em 0 0;
  width: 20%;
}

.button-panel1 .button1 {
  background: #61eb68;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button1:hover {
  background: #3acc45;
}










.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

#rectangle {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 92px;
  width: 350px;
  height: 2px;
  background: #e4e4e4;
}

/*graph content style*/
.bar {
  fill: #AA0000;
}


.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis line {
  display: none;
}
/*end*/

/*iframe for comment*/
iframe {
  border-style: none;
  width: 450px;
  height: 300px;
}
#greetings
{

}
.textMiddle
{
   text-align: center;
}

li
{
   list-style-type: none;
   text-decoration: none;
}

.list
{
   font-weight: bolder;
   text-indent: 27%; /* WAS 17 */
   font-size: 40px;
   list-style-type: none;
   font-family: "Courier New";
   text-decoration: none;
}

.normalTextStyle {
  font-size: 1em;
  text-align: center;
}

.rightStyle {
  font-size: 50px;
  float: right;
}

.logoutButton {
  float: right;
  background: #61eb68;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.leftStyle {
  font-size: 38px;
  float: left;
}

#banner
{
  position: fixed;
  top: 0px;
  min-width: 100%;
  height: 90px;
  background: #ffffff;
  box-shadow: -8px 8px 5px #8b8b8b;
}

.normalSize {
  font-size: 38px;
}



